body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyC_BXxRPmh8b7JWzkoEVePzNszRUSl6L3_Q&s');
    background-size: cover;
}
.profile_fondo {
    width: 100%;
    height: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyeWy--PwLKZhDVFSD7JHXwy2c7e2d9CKoqg&s');
    margin-top: 50px;
    background-size: cover;
}
.user {
    width: 500px;
    height: 170px;
    position: absolute;
    top: 180px;
    left: 200px;
    background-size: cover;
    background-color: transparent;
    display: flex;
    
}
.user_file {
    width: 170px;
    height: 170px;
    border-left: 2px solid yellow;
    border-bottom: 2px solid yellow;
    border-bottom-left-radius: 20px;
}
.user_info {
    width: 200px;
    height: 70%;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    color: blue;
    margin: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    
}
