.boton.seis {
	background: none;
	color: #000;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
	stroke: rgb(241, 17, 174);
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .6s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
}
.boton {
	display: inline-flex;	
	
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
    padding: 14px;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
	font-size: var(--font-size-2xl);
}