
.container .menu{
	float: right;
	line-height: 100px;
}
.container .menu a{
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: rgb(67, 236, 67);
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 20px;
	margin-right: 5px;
}
.container .menu a:hover{
color: rgb(231, 56, 129);
border-bottom: 2px solid #c7c7c7;
padding-bottom: 5px;
}
.container .menu a:hover{
	border-bottom: 2px solid yellow;
	padding-bottom: 5px;
}