p{
    color: rgb(54, 11, 247);
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    font-weight: 700;
    font-style:inherit;
    text-align: center;
    text-decoration: underline;

   
}